[submodule "c/ed25519"]
path = c/ed25519
url = https://github.com/orlp/ed25519
[submodule "ed25519-orlp/ed25519"]
path = ed25519-orlp/ed25519
url = https://github.com/orlp/ed25519
[submodule "ed25519-donna/ed25519-donna"]
path = ed25519-donna/ed25519-donna
url = https://github.com/floodyberry/ed25519-donna
